<div class="ui-calendar">
  <div class="ui-calendar-pannel" data-role="pannel">
    <span class="ui-calendar-control" data-role="prev-year">&lt;&lt;</span>
    <span class="ui-calendar-control" data-role="prev-month">&lt;</span>
    <span class="ui-calendar-control" data-role="current-month"></span>
    <span class="ui-calendar-control" data-role="current-year"></span>
    <span class="ui-calendar-control" data-role="next-month">&gt;</span>
    <span class="ui-calendar-control" data-role="next-year">&gt;&gt;</span>
  </div>
  <div class="ui-calendar-container" data-role="container">
  </div>
</div>
