<table class="ui-calendar-month" data-role="month-column">
{{#each items}}
<tr class="ui-calendar-month-column">
    {{#each this}}
    <td class="{{#unless available}}disabled-element{{/unless}}" data-role="month" data-value="{{value}}">{{_ label}}</td>
    {{/each}}
</tr>
{{/each}}
</table>
