<table class="ui-calendar-year" data-role="year-table">
  {{#each items}}
  <tr class="ui-calendar-year-column">
    {{#each this}}
    <td {{#unless available}}class="disabled-element"{{/unless}} data-role="{{role}}" data-value="{{value}}">{{_ label}}</td>
    {{/each}}
  </tr>
  {{/each}}
</table>
