.ui-calendar-month {
  font: 16px/20px 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-collapse: separate;
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 9px #ccc;
  text-align: center;
  width: 238px;
}
.ui-calendar-month tr {
  background-color: #f9f9f9;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
}
.ui-calendar-month .ui-calendar-month-column td {
  text-align: center;
  width: 76px;
  padding: 6px 0;
  border: 1px solid transparent;
}
.ui-calendar-month .ui-calendar-month-column td:hover {
  cursor: pointer;
  color: #333;
  background: #dadada;
}
.ui-calendar-month .ui-calendar-month-column td.focused-element {
  color: #fff;
  background: #d64;
}
.ui-calendar-month .ui-calendar-month-column td.disabled-element {
  background: #eee;
  color: #bbb;
  cursor: not-allowed;
}
