.ui-calendar-month {
  font: 16px/20px 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 9px #ccc;
  text-align: center;
}
.ui-calendar-month tr {
  background-color: #f9f9f9;
  border: none;
  margin: 0;
  padding: 0;
  width: 210px;
  color: #333;
}
.ui-calendar-month .ui-calendar-month-column td {
  display: inline-block;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 65px;
  margin: 2px;
  padding: 2px 0;
  border-radius: 4px;
}
.ui-calendar-month .ui-calendar-month-column td:hover {
  color: #333;
  background: #dadada;
}
.ui-calendar-month .ui-calendar-month-column td.focused-element {
    color: #fff;
    background: #d64;
}
