/* year */
.ui-calendar-year {
  font-size:14px;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 9px #ccc;
  text-align: center;
  border-spacing: 0;
  width: 210px;
}
.ui-calendar-year tr {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
}
.ui-calendar-year .ui-calendar-year-column td {
  text-align: center;
  width: 76px;
  border: none;
  padding: 6px 0;
}
.ui-calendar-year .ui-calendar-year-column td:hover {
  cursor: pointer;
  color: #fff;
  background: #FFC4A4;
}
.ui-calendar-year .ui-calendar-year-column td.focused-element {
  color: #fff;
  background: #f97229;
}
.ui-calendar-year .ui-calendar-year-column td.disabled-element {
  background: #eee;
  color: #bbb;
  cursor: not-allowed;
}
