@import url('./css/date.css');
@import url('./css/month.css');
@import url('./css/year.css');

.ui-calendar {
    position: absolute;
    font: 16px/20px 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f9f9f9;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 9px #ccc;
    text-align: center;
}
.ui-calendar .ui-calendar-date,
.ui-calendar .ui-calendar-month,
.ui-calendar .ui-calendar-year
{
  border: none;
  box-shadow: none;
}
.ui-calendar .ui-calendar-pannel {
  border-bottom: 1px solid #dadada;
  zoom: 1;
}
.ui-calendar .ui-calendar-pannel:after,
.ui-calendar .ui-calendar-pannel:before {
  display: table;
  line-height: 0;
  content: "";
}
.ui-calendar .ui-calendar-pannel:after {
  clear: both;
}
.ui-calendar .ui-calendar-control {
  display: inline-block;
  float: left;
  width: 10%;
  cursor: pointer;
}
